{% extends 'blog/base.html'%}
{% load staticfiles %}
{% block content %}
<img src="{% static 'Akshay_dhotre.jpeg' %}" alt="Akshay Dhotre" width="20%" class="rounded-circle">
<h2>Host: Akshay Dhotre</h2>
<h3>Engineer and Technology Enthusiast.</h3>
<br>
<a href="https://www.facebook.com/dhotre.akshay"><img src="{% static 'Facebook.svg.png' %}" width="5%" alt="facbook logo"></a>
<a href="https://www.linkedin.com/in/akshay-dhotre-may91/"><img src="{% static 'LinkdIn.svg' %}" width="5%" alt="linkdin Logo"></a>
<a href="https://github.com/a2dhotre"><img src="{% static 'github.svg' %}" width="5%" alt="GitHub Logo"></a>
{% endblock %}
