{% extends 'blog/base.html'%}
{% block content %}
<div class="card">
  <div class="card-header posttitle"><h3>{{post.title}}</h3></div>
    <div class="card-body">
        <div class="blog_posts">
          
            <!-- <div class="container"> -->
                
                {% if post.published_date %}
                  <div class="date postdate"> 
                    {{post.published_date}}
                  </div>
                {% else %}
                <a class="btn btn-success" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
              
                <p class="postcontent">{{post.text|safe|linebreaksbr}}</p>
              
                {% if user.is_authenticated %}
                  <a class="btn btn-info btn-sm" href="{% url 'post_edit' pk=post.pk %}">
                    Edit
                  </a>
              
                  <a class="btn btn-danger btn-sm" href="{% url 'post_remove' pk=post.pk %}">
                    Remove
                  </a>
                {% endif %}
              
                <hr>
              
                <a class="btn btn-primary btn-comment btn-sm" href="{% url 'add_comments_to_post' pk=post.pk %}">Comment</a>
            <!-- </div> -->
  
            <!-- <div class="container"> -->
                {% for comment in post.comments.all %}
                  <br>
                  {% if user.is_authenticated or comment.approve_comments %}
                  {{comment.created_date}}
                  {% if not comment.approve_comments %}
                      <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                        Remove
                      </a>
                      <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}">
                        Approve
                      </a>
                  {% endif %}

                    <p>{{comment.text|safe|linebreaks}}</p>
                    <p>Posted by: {{comment.author}}</p>

                  {% endif %}
                  {% empty %}
                  <p>No comments.</p>
                  <span>
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_button_whatsapp"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_google_plus"></a>
                            <a class="a2a_button_linkedin"></a>
                            <a class="a2a_button_email"></a>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                  </span>
                {% endfor %}
            <!-- </div> -->

          
        </div>
    </div>
</div>
{% endblock %}